body {
    background-image: url('../images/bg/01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

header {
    border-bottom: 2px black solid;
}

h1 {
    font-family: 微軟正黑體;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 3px hsla(240, 80%, 50%, 0.3);

    @media #{$small-up} {
        font-size: 5rem;
    }
    @media #{$medium-up} {
        font-size: 65px;
    }
}

h2 {
    font-size: 60px;
    font-family: 微軟正黑體;
    font-weight: bold;

    @media #{$small-up} {
        font-size: 2.2rem;
    }
    @media #{$medium-up} {
        font-size: 40px;
    }
}

h2::before {
    content: url('../images/item/leaf.png');
    margin-right: 0.2em;
}

ul{
    list-style-image: inherit}
li{
    margin: 10px 0px 0px 0px;}

.question h3, .question-hide h3 {
    font-family: 微軟正黑體;
    color: #c71585;
    font-weight: bold;

    @media #{$small-up} {
        font-size: 1.3rem;
    }
    @media #{$medium-up} {
        font-size: 24px;
    }
}

.question h3::before, .question-hide h3::before {
    content: url('../images/item/q.gif');
    margin-right: 0.5em;
}

p {
    font-family: 微軟正黑體;
    font-weight: bold;
    font-size: 20px;
}

figure .picture-name {
    color: #0000FF;
}

hr {
    border: inset 3px #b38300;
}

#btn-finish {
    @extend .button;
}
#btn-finish.disable {
    @extend .button;
    @extend .disabled;
}

.btn-show-answer {
    @extend .button;
}

section.question .answer-area ul {
    text-align: center;

    li {
        list-style-type: none;

        .option-button {
            @extend .button;
            @extend .round;
            font-size: 1.5em;
        }
    }
}
